

.body{
    height: 500px;
    display: flex;
    flex-direction: row;
}

.body2{
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color:#00C8E3 ;
   
}
.section1{
    height: 500px;
    background-color: #ffffff00;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.section2{
    height: 500px;
    background-color: rgba(118, 60, 60, 0);
    width: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;

}

.section2Image{
 height: 490px;
 width: 490px;   
 border-radius: 65px;
 margin-bottom: 15px;
}



.section3{
    height: 500px;
    background-color: #ffffff00;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: #ffffff;
}

.section3Image{
    height: 390px;
    width: 390px;   
    border-radius: 65;
   }

.section4{
    height: 500px;
    background-color: #ffffff00;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;*/
    color: #ffffff;
}


.bodyText{
    font-family: Arial;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-items: start;
    align-items: flex-start;

}

.bodyHead{
    font-family: Arial;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
}

.bodyHead_2{
    font-family: Arial;
    font-size: 22px;
    color: #000000;
    font-weight: bold;
    margin-top: 25px;
}

.bodyText2{
    font-family: Arial;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-items: start;
    align-items: center;

}


.explore{
    font-size: 27px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 90px;
}




.cardholder{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.card {
    width: 300px;
    background: #00C8E3;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s;
    
    margin-left: 30px;
    border-radius: 35px;
    clear: both;
    float: left;
    
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 470px;
    height: 500px;
   
}

.card-content {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.cardpara {
    font-size: 18px;
    font-weight: 700;
    font-family: Arial;
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.add-to-cart-button, .details-button {
    background-color:#00C01F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover, .details-button:hover {
    background-color: #E0E0E0;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}


.moreexplore{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 70px;
}

.lastcard {

    width: 650px;
    background: #00C8E3;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 45px;
    font-family: Arial;


    margin-top: 55px;
    margin-bottom: 55px;
    display: flex;
    /*justify-content: center;
    justify-items: center;*/
}

.semilast{
    border: 20;
}

.card-heading {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
}

.card-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 45px;
    margin-top: 35px;
}

.card-paragraph {
    font-size: 16px;
    margin: 20px 0;
}


.para{
    font-size: 18px;
    margin-left: 45px;
    margin-top: 35px;
}


.unlock{
    display: flex;
    flex-direction: row;
}

.bonusCard{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: x;
}



@media screen and (max-width:800px) {
    

.body{
    height: 500px;
    display: flex;
    flex-direction: row;
}

.body2{
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color:#00C8E3 ;
   
}
.section1{
    height: 500px;
    background-color: #ffffff00;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.section2{
    height: 500px;
    background-color: rgba(118, 60, 60, 0);
    width: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;

}

.section2Image{
 height: 490px;
 width: 490px;   
 border-radius: 65px;
 margin-bottom: 15px;
}



.section3{
    height: 500px;
    background-color: #ffffff00;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: #ffffff;
}

.section3Image{
    height: 390px;
    width: 390px;   
    border-radius: 65;
   }

.section4{
    height: 500px;
    background-color: #ffffff00;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;*/
    color: #ffffff;
}


.bodyText{
    font-family: Arial;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-items: start;
    align-items: flex-start;

}

.bodyHead{
    font-family: Arial;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
}

.bodyHead_2{
    font-family: Arial;
    font-size: 22px;
    color: #000000;
    font-weight: bold;
    margin-top: 25px;
}

.bodyText2{
    font-family: Arial;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-items: start;
    align-items: center;

}


.explore{
    font-size: 27px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 90px;
}




.cardholder{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.card {
    width: 350px;
    background: #00C8E3;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.2s;
    
    margin-left: 30px;
    border-radius: 35px;
    clear: both;
    float: left;
    
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 470px;
    height: 500px;
   
}

.card-content {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.cardpara {
    font-size: 18px;
    font-weight: 700;
    font-family: Arial;
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.add-to-cart-button, .details-button {
    background-color:#00C01F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover, .details-button:hover {
    background-color: #E0E0E0;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}


.moreexplore{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 70px;
}

.lastcard {

    width: 650px;
    background: #00C8E3;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 45px;
    font-family: Arial;


    margin-top: 55px;
    margin-bottom: 55px;
    display: flex;
    /*justify-content: center;
    justify-items: center;*/
}

.semilast{
    border: 20;
}

.card-heading {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
}

.card-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 45px;
    margin-top: 35px;
}

.card-paragraph {
    font-size: 16px;
    margin: 20px 0;
}


.para{
    font-size: 18px;
    margin-left: 45px;
    margin-top: 35px;
}


.unlock{
    display: flex;
    flex-direction: row;
}

.bonusCard{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: x;
}

}


@media screen and (max-width: 600px)
 {


    .body{
        height: 900px;
        display: flex;
        flex-direction: column;
       
    }
    
    .body2{
        height: 1000px;
        display: flex;
        flex-direction: column;
        background-color:#00C8E3 ;

       
       
    }
    .section1{
        height: 500px;
        background-color: #ffffff00;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
    }
    
    .section2{
        height: 500px;
        background-color: rgba(118, 60, 60, 0);
        width: 50%;
        display: flex;
        justify-content: center;
        justify-items: center;
    
    }
    
    .section2Image{
     height: 290px;
     width: 290px;   
     border-radius: 65px;
     margin-bottom: 15px;
     margin:0 auto;
     margin-left: 35px;
    }
    
    
    
    .section3{
        height: 500px;
        background-color: #ffffff00;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
        color: #ffffff;
    }
    
    .section3Image{
        height: 390px;
        width: 390px;   
        border-radius: 65;
       }
    
    .section4{
        height: 700px;
        background-color: #ffffff00;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       /* background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;*/
        color: #ffffff;

    }
    
    
    .bodyText{
        font-family: Arial;
        text-decoration: none;
        font-size: 20px;
        color: #000000;
        display: flex;
        justify-items: start;
        align-items: flex-start;
    
    }
    
    .bodyHead{
        font-family: Arial;
        font-size: 30px;
        color: #000000;
        font-weight: bold;
        margin-top: 5px;
    }
    
    .bodyHead_2{
        font-family: Arial;
        font-size: 22px;
        color: #000000;
        font-weight: bold;
        margin-top: 25px;
        margin: 35px;
    }
    
    .bodyText2{
        font-family: Arial;
        text-decoration: none;
        font-size: 20px;
        color: #000000;
        display: flex;
        justify-items: start;
        align-items: center;
        margin: 35px;
    
    }
    
    
    .explore{
        font-size: 27px;
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 30px;
        margin-bottom: 90px;
    }
    
    
    
    
    .cardholder{
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }
    
    .card {
        width: 350px;
        background: #00C8E3;
        box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.2s;
        
        margin-left: 60px;
        border-radius: 35px;
        clear: both;
        margin-top: 55px;
        
    }
    
    .card:hover {
        transform: scale(1.05);
    }
    
    .card-image {
        width: 470px;
        height: 500px;
       
    }
    
    .card-content {
        padding: 20px;
    }
    
    h2 {
        font-size: 24px;
        margin: 0;
        padding: 0;
        font-family: Arial;
    }
    
    .cardpara {
        font-size: 18px;
        font-weight: 700;
        font-family: Arial;
        margin: 10px 0;
    }
    
    .button-container {
        display: flex;
        justify-content: space-between;
    }
    
    .add-to-cart-button, .details-button {
        background-color:#00C01F;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .add-to-cart-button:hover, .details-button:hover {
        background-color: #E0E0E0;
        color: #000;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    
    .moreexplore{
        display: flex;
        justify-content: center;
        justify-items: center;
        margin-bottom: 70px;
    }
    
    .lastcard {
    
        width: 650px;
        background: #00C8E3;
        border-radius: 5px;
        color: #000000;
        text-align: center;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 45px;
        font-family: Arial;
    
    
        margin-top: 55px;
        margin-bottom: 55px;
        display: flex;
        /*justify-content: center;
        justify-items: center;*/
    }
    
    .semilast{
        border: 20;
    }
    
    .card-heading {
        font-size: 24px;
        margin: 0;
        padding: 10px 0;
    }
    
    .card-image {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        border-radius: 45px;
        margin-top: 35px;
    }
    
    .card-paragraph {
        font-size: 16px;
        margin: 20px 0;
    }
    
    
    .para{
        font-size: 12px;
        margin-left: 45px;
        margin-top: 35px;
    }
    
    
    .unlock{
        display: flex;
        flex-direction: row;
    }
    
    .bonusCard{
        display: flex;
        justify-content: center;
        justify-items: center;
        margin-left: x;
    }
    

 }

